div.tooltip {
  position: absolute;
  @include flex(flex, column, center, center);
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #5a7e7b;
  background: #b4fef7;
  border: 0px;
  pointer-events: none;
}
